/*Styles customized for the Trikipedia Main_Page.html*/

body {
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:visited {
    color: #0b0080;
}

h2 {
    font-size: 120%;
}

.mainlogo {
    width: 132px;
    height: 132px;
    margin: 4px 7px 12px 7px;
}

.sidebar {
    -ms-flex: 0 0 168px;
    flex: 0 0 168px;
}

.sidebar .nav-link {
    font-size: 0.72rem;
    line-height: 0.4rem;
    margin-left: -0.25rem;
    margin-right: -0.5rem;
}

.subtitle {
    display: block;
    font-size: 0.72rem;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    margin-left: 1.125rem;
    color: #444444;
}

.topnav {
    font-size: 0.72rem;
}

.topnav .nav-link:first-child {
    padding-left: 1.0rem;
}

.topnav .nav-link:last-child {
    padding-right: 1.0rem;
}

.tabnav {
    font-size: 0.75rem;
}

.tabstyle {
    margin-bottom: -3px;
    padding-top: 0.5rem;
    /*border-radius: 0;*/
    /*border: none;*/
    border-top: none;
    border-bottom: none;
    border-left: 4px solid #a7d7f9;
    border-right: 8px solid #a7d7f9;
    border-image: linear-gradient(#ffffff, #a7d7f9);
    border-image-slice: 20;
    padding: 0.6em;
}

.tabsearch {
    /*margin-bottom: -6px;*/
    /*padding: 0.25rem 0.5rem 0.25rem 0.5rem;*/
    /*padding-bottom: 1.0rem;*/
    height: 1.5rem;
    font-size: 0.75rem;
}

.welcome {
    border: 1px solid #dddddd;
    padding-top: 0.8rem;
    margin-bottom: 0.5rem;
    background-color: #f9f9f9;
}

.portalbullet {
    font-size: 90%;
    padding-top: 0.5rem;
}

.bluegradient {
    background: linear-gradient(180deg, #ffffff 50%, #cedff2 100%);
}

.graygradient {
    background: linear-gradient(180deg, #ffffff 50%, #f9f9f9 100%);
    height: 5rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
}

.grayback {
    background: #f9f9f9;
    /*border: 1px solid #dddddd;*/
}

.greenback {
    background: #f5fffa;
    border: 1px solid #cef2e0;
}

.greenbox {
    background: #cef2e0;
    border: 1px solid #a3bfb1;
}

.blueback {
    background: #f5faff;
    border: 1px solid #cedff2;
}

.bluebox {
    background: #cedff2;
    border: 1px solid #a3b0bf;
}

.pinkback {
    background: #fff5fa;
    border: 1px solid #f2cedd;
}

.pinkbox {
    background: #f2cedd;
    border: 1px solid #bfa3af;
}

.purpleback {
    background: #faf5ff;
    border: 1px solid #ddcef2;
}

.purplebox {
    background: #ddcef2;
    border: 1px solid #afa3bf;
}

.header {
    margin-bottom: 1.0rem;
    font-family: inherit;
    font-weight: 700;
    padding: 0.2rem 0.4rem;
}

.section {
    margin-bottom: 0.25rem;
    overflow: auto;
    padding: 0.5rem;
}

.bottomhead {
    font-family: "Times New Roman", Times, serif!important;
    font-weight: 500;
    font-size: 120%;
    padding: 0.2rem 0.4rem;
    margin: 1.0rem 0;
}
