/*Styles customized for the Trikipedia Main_Page.html*/

/*I think there may be a more bootstrappy way to do this, maybe a utility???*/

body {
    font-size: 1.0em;
}

@media (min-width: 250px) {
    .sidebar {
        max-width: 175px;
    }
}

a {
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:visited {
    color: #0b0080;
}

h2 {
    font-size: 120%;
}

.mainlogo {
    width: 132px;
    height: 132px;
    margin: 4px 7px 12px 7px;
}

.sidebar .nav-link {
    font-size: 0.72em;
    line-height: 0.4em;
    margin-left: -0.25em;
    margin-right: -0.5em;
}

.subtitle {
    display: block;
    font-size: 0.72em;
    padding-top: 1.25em;
    padding-bottom: 0.5em;
    margin-left: 1.25em;
    color: #444444;
}

.topnav {
    font-size: 0.72em;
}

.topnav .nav-link:first-child {
    padding-left: 1.0em;
}

.topnav .nav-link:last-child {
    padding-right: 1.0em;
}

.tabnav {
    font-size: 0.85em;
}

.tabpad {
    margin: 1.0em 0 0 0;
    padding: 1.0em 0.5em 0em 0.5em;
}

.welcome {
    border: 1px solid #dddddd;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
}

.portalbullet {
    font-size: 90%;
    margin-top: 1.0em;
}

.graygradient {
    background: linear-gradient(180deg, #ffffff 50%, #f9f9f9 100%);
}

.grayback {
    background: #f9f9f9;
    /*border: 1px solid #dddddd;*/
}

.greenback {
    background: #f5fffa;
    border: 1px solid #cef2e0;
}

.greenbox {
    background: #cef2e0;
    border: 1px solid #a3bfb1;
}

.blueback {
    background: #f5faff;
    border: 1px solid #cedff2;
}

.bluebox {
    background: #cedff2;
    border: 1px solid #a3b0bf;
}

.pinkback {
    background: #fff5fa;
    border: 1px solid #f2cedd;
}

.pinkbox {
    background: #f2cedd;
    border: 1px solid #bfa3af;
}

.purpleback {
    background: #faf5ff;
    border: 1px solid #ddcef2;
}

.purplebox {
    background: #ddcef2;
    border: 1px solid #afa3bf;
}

.header {
    margin: 0.5em 0;
    font-family: inherit;
    font-weight: 700;
    padding: 0.2em 0.4em;
}

.section {
    margin-top: 0.2em;
    overflow: auto;
}
